{% extends "layout.html" %}
{% block body %}
  <div class="description">
    <p><em>Kumareoke</em> es una aplicación web que permite eliminar o reducir, según sea el caso, la voz principal de una canción.</p>
    <p>La eliminación de la pista vocal es una técnica que no es perfecta, pues depende de qué tan aislada está la voz de los instrumentos en la grabación. Se recomienda utilizar las pistas extraídas directamente de los CD de música con alguna compresión sin pérdidas como lo son los formatos <em>wav</em> y <em>flac</em>. En el peor de los casos, se puede intentar utilizar la pista extraída de videos de Youtube, y esperar que salga lo mejor posible.</p>
  </div>
  <div class="conditions">
    <h2>Condiciones de Uso</h2>
    <p>Para obtener acceso a esta herramienta, debe obtener la frase secreta de la persona de quien escucho de la existencia de Kumareoke. Si insiste en utilizarla sin tener idea de cuál es la clave, puede contactar a <a href="https://twitter.com/_emyr" target="_blank">@_emyr</a> en Twitter.</p>
  </div>
{% endblock %}
